@page "/"
@namespace TreeCommandViewer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TreeCommandViewer</title>
    <base href="~/" />
    <link href="~/css/fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script>
        window.DrawTree = (text) => {
            doc = document.getElementById("topOfTree");
            doc.insertAdjacentHTML("beforeBegin", text);
        };
    </script>
    <script>
        window.RemoveTree = () => {
            var description = document.getElementById("tree");
            description.remove();
        }
    </script>
    <script>
        window.RerenderTree = (text) => {
            var description = document.getElementById("tree");
            description.remove();

            doc = document.getElementById("topOfTree");
            doc.insertAdjacentHTML("beforeBegin", text);
        }
    </script>
    <script>
        window.Steps = (text) => {
            var textarea = document.getElementById('steps');
            textarea.value += text + '\n';
            textarea.scrollTop = textarea.scrollHeight;
        }
    </script>
    <script>
        window.ClearSteps = (text) => {
            var textarea = document.getElementById('steps');
            textarea.value = "";
        }
    </script>
</body>
</html>
